@import "~bootstrap/scss/bootstrap";
* {
  margin: 0px;
  padding: 0px;

}
.wrapper{
  display: flex;
  padding: 2rem;
  flex-direction:row ;
  justify-content: space-around;

    .container{
      display: flex;
     
    }  
    .table-style{
      display: flex;
    }
  }